<div class="flex grow row">
  <div class="flex grow"></div>
  <div class="flex column">
    <div class="flex grow" style="max-height: 25%;"></div>
    <div class="flex" style="width: 400px;">

      <form class="form grow flex column" ng-submit="ctl.login(ctl.nick)">
        <h1>Login</h1>
        <input type="text" placeholder="Nickname" ng-model="ctl.nick"/>
        <input type="submit" value="Enter"/>
      </form>

    </div>
    <div class="flex grow"></div>
  </div>
  <div class="flex grow"></div>
</div>
